#################################
# Configuration for 'git archive'
# see https://git-scm.com/docs/git-archive#ATTRIBUTES

# Omit folders that users don't need, making the distribution artifact smaller
lib/tests export-ignore

# Substitution for the _VERSION_PRIVATE placeholder
tools/version.bzl export-subst
