version: 2.1

parameters:
  perform_delivery:
    type: boolean
    default: false
  delivery_commit:
    type: string
    default: ""
    description: The commit to checkout and run the delivery from
  delivery_targets:
    type: string
    default: ""
    description: Ignore the target(s) that are listed in the delivery manifest
      and instead deliver these targets. Comma-separated list of labels.

# enable CircleCI's dynamic configuration feature
setup: true

orbs:
  continuation: circleci/continuation@1.0.0
  slack: circleci/slack@4.12.5
  bazel: aspect-build/workflows@dev:5.8.0-rc11

workflows:
  bazel-setup:
    jobs:
      - bazel/setup:
          aspect-config: .aspect/workflows/config.yaml
          resource_class: aspect-build/bazel-lib
          context:
            - slack
